<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title titletext">ChaosChat v0.1.0 - weakcop</h3>
  </div>
  <div class="panel-body ultracontainer" id="scrollcontainer">
      <div class="message" *ngFor="let message of messages">
        {{message}}
        <hr>
      </div>
</div>
  <form class="input-group bottom" (submit)="sendText()">
    <input id="chatinput" type="text" class="form-control" [(ngModel)]="message" autocomplete="off" name="text">
      <span class="input-group-btn">
        <button class="btn btn-danger" type="button" (click)="clearChat()">Clear Chat</button>
      </span>
  </form>